.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 5%;
  background: ivory;
  box-shadow: 0 4px 20px #cce;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 65px;
}

nav button {
  margin-left: 10px;
  background: #dff6ff;
}

nav .active {
  background: #ffcf4d;
}

.page {
  padding: 30px 5%;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #edd3ae;
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0 10px 25px #cfe9ff;
}

.chart-placeholder {
  height: 180px;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

.b1 {
  background: #8ecae6;
}
.b2 {
  background: #ffd166;
}
.b3 {
  background: #06d6a0;
}
.b4 {
  background: #ef476f;
  color: white;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.room {
  padding: 12px;
  border-radius: 16px;
  text-align: center;
  font-weight: 600;
}

.occ {
  background: #ffadad;
}
.emp {
  background: #caffbf;
}

.form-card {
  margin-top: 30px;
  background: #edd3ae;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px #cfe9ff;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 14px;
}

.form-actions {
  margin-top: 15px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
